@import url(https://fonts.googleapis.com/css?family=Roboto:500);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

html {
	background-color: whitesmoke;
	/* color: #494949; */
}
.app {
	text-align: center;
	padding: 2% 5%;
}

.app * {
	box-sizing: border-box;
}

.offline-alert {
	padding: 20px;
	background-color: white;
}

h1 {
	margin-top: 30px;
	margin-bottom: 40px;
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
}

h2 {
	font-size: 18px;
	margin-bottom: 8px;
}

h3 {
	font-size: 24px;
	margin-top: 18px;
	margin-bottom: 12px;
}

ul {
	padding: 0;
	list-style: none;
}

p {
	margin: 5px 0;
}

.display-none {
	display: none;
}
.showSuggestions {
	display: block;
}

input[type='text'],
input[type='number'] {
	padding: 8px 6px 8px 10px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #ccc;
	font-size: 14px;
	line-height: 20px;
	align-self: center;
	height: 36px;
}

.city-search {
	height: 100px;
	display: flex;
	flex-direction: column;
	flex-basis: 250px;
	max-width: 250px;
	margin: auto;
	margin-bottom: 14px;
	position: relative;
	z-index: 1;
}

.city {
	width: 250px;
}

.number-element {
	height: 100px;
	display: flex;
	flex-direction: column;
	flex-basis: 250px;
	max-width: 250px;
	margin: auto;
	position: relative;
}

.numberOfEvents {
	width: 180px;
	text-align: center;
}

.number-label {
	font-size: medium;
	font-weight: 500;
}

.Alert {
	position: absolute;
	top: 78px;
	font-size: 12px;
	align-self: center;
}

.suggestions {
	width: 250px;
	z-index: 2;
	margin: 0;
	font-size: 14px;
	box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
	text-align: left;
	padding: 8px 6px 8px 10px;
	background-color: #eee;
	cursor: default;
}

.suggestions > li:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
	background-color: #bcdcdb;
}

.event {
	padding: 0px 20px 35px;
	margin-bottom: 10px;
	text-align: left;
	border: 1px solid #ccc;
	border-radius: 5px;
	position: relative;
	background-color: #fff;
	min-height: 160px;
}

.details-btn {
	position: absolute;
	right: 8px;
	bottom: 8px;
	padding: 6px 9px;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	border-color: whitesmoke;
	background-color: whitesmoke;
	color: palevioletred;
}

.link {
	color: palevioletred;
}

.name {
	font-size: 18px;
	font-weight: 600;
}

.group-name {
	text-transform: uppercase;
	font-size: 14px;
}

.going,
.visibility {
	font-style: italic;
}

.description {
	overflow-x: hidden;
}

.button-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	padding: 20px;
	font-family: sans-serif;
}

.data-vis-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.data-vis-wrapper .recharts-responsive-container {
	min-width: 100%;
	display: flex;
}
.recharts-surface {
	overflow: visible;
}

.login-button {
	color: #494949;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 20px;
	border: 4px solid #494949;
	display: inline-block;
	transition: all 0.4s ease 0s;
	min-width: 10rem;
	margin: 1rem;
}

.google-btn {
	width: 184px;
	height: 42px;
	margin: 1rem;
	background-color: #4285f4;
	border-radius: 2px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn:hover {
	box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
	background: #1669f2;
}
.google-icon-wrapper {
	position: absolute;
	margin-top: 1px;
	margin-left: 1px;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	background-color: #fff;
}
.google-icon {
	position: absolute;
	margin-top: 11px;
	margin-left: -8px;
	width: 18px;
	height: 18px;
}
.btn-text {
	float: right;
	margin: 11px 11px 0 0;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.2px;
	font-family: 'Roboto';
}

@media only screen and (min-width: 992px) {
	.data-vis-wrapper {
		flex-direction: row;
	}
	.data-vis-wrapper .recharts-responsive-container {
		flex-basis: 50%;
		max-width: 50%;
		min-width: auto;
		margin: 0 auto;
	}
}
